<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">       
         <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        <div class="mainC">
           {{>header}}
           <img class="port" src="./img/PngItem_1094057.png" alt="">
        </div>
    <p>{{>footer}}</p>
    </body>
</html>