<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        <div class="mainC">
            {{>header}}
            <p>Use this page to get your weather</p>
            <form>
                <input placeholder="Location">
                <button>serch</button>
            </form>
             <p id="name"></p>
            <p id="forcast"></p>
        </div>
        
    {{>footer}}
    <script src="/js/app.js"></script>
    </body>
</html>